.menu-cards {
  font-size: 1vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  position: relative;
}
#menu-description {
  padding: 25px;
  height: 25px;
}
.menu-cards .card {
  width: 8vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #81c784;
  transition: margin 0.3s, width 0.2s, height 0.2s;
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  cursor: pointer;
  margin-right: 5px;
}
.menu-cards .card .card-inside {
  width: 50%;
  height: 50%;
  border-radius: 0.8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-cards .card.start {
  background: #81c784;
}
.menu-cards .card.join {
  background: #81d4fa;
}
.menu-cards .card.other {
  background: #ffc6f0;
}
